@page
@model GypseyExpeditions.Controllers.IndexModel
@{
    ViewData["Title"] = "Home";
}

@section MetaTags{

}

<section id="main-slider" class="position-relative main-slider">
    <div class="swiper swiper-landing">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/lib/src/swiper-landing/TR-01.jpg)">
                </div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="slider-inner">
                        <h1>Travel & Adventure</h1>
                        <p>Experience of a life-time</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/lib/src/swiper-landing/TR-02.jpg)">
                </div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="slider-inner">
                        <h1>Travel & Adventure</h1>
                        <p>A different experience everytime</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/lib/src/swiper-landing/TR-03.jpg)">
                </div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="slider-inner">
                        <h1>Travel & Adventure</h1>
                        <p>Always excited to see new places</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/lib/src/swiper-landing/TR-04.jpg)">
                </div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="slider-inner">
                        <h1>Travel & Adventure</h1>
                        <p>Adventures that satisfy</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(/lib/src/swiper-landing/TR-05.jpg)">
                </div>
                <div class="image-layer-overlay"></div>
                <div class="container">
                    <div class="slider-inner">
                        <h1>Travel & Adventure</h1>
                        <p>Experiences that inspire</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-nav">
            <div class="slider-button-prev">
                <span class="fa fa-arrow-right"></span>
            </div>
            <div class="slider-button-next">
                <span class="fa fa-arrow-right"></span>
            </div>
        </div>
        <div class="swiper-pagination-bullet-active-next"></div>
    </div>
</section>
<section id="tour-search" class="tour-search">
    <div class="container">
        <form class="row align-items-center tour-search-one">
            <div class="col-lg-3 col-md-12 tour-search-one__input-box">
                <label for="place">Where to</label>
                <input type="text" class="form-control" id="place" placeholder="Enter Keywords">
            </div>
            <div class="col-lg-3 col-md-6 tour-search-one__input-box">
                <label for="date">When</label>
                <input type="text" class="form-control" id="date" placeholder="24/01/2024">
            </div>
            <div class="col-lg-3 col-md-6 tour-search-one__input-box">
                <label for="type">Type</label>
                <select class="form-select" id="typeselection">
                    <option selected>Choose...</option>
                    <option value="1">Mara Conservancy</option>
                    <option value="2">Ole Tipis</option>
                    <option value="3">The Aberdares</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-12 tour-search-one__input-box">
                <button type="submit" class="btn btn-lg btn-primary">Search Booking</button>
            </div>
        </form>
    </div>
</section>
<section id="destinations-one">
    <div class="container">
        <div class="section-title-destination text-center">
            <span class="section-title__tagline">Destination lists</span>
            <h2 class="section-title__title">Go Exotic Places</h2>
        </div>
        <div class="row portfolio-grid text-style projects-gallery">
            <div class="col-xl-3 col-lg-3 col-md-4  grid-item project residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/lib/src/gallery/MajesticLions-1.png" class="image" title="Savannah Lions"><img src="~/lib/src/gallery/MajesticLions-1.png" alt=""></a>
                    </div>
                    <div class="item-info">
                        <h3>Maasai Mara</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8  grid-item project industrial" data-category="industrial">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/lib/src/gallery/MountainSide.png" class="image" title="Aberdare Mountain Side"><img src="~/lib/src/gallery/MountainSide.png" alt=""></a>
                    </div>
                    <div class="item-info">
                        <h3>Aberdare Ranges</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 grid-item project hotel" data-category="hotel">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/lib/src/gallery/BeachOverview.png" class="image" title="Drone Shot Diani"><img src="~/lib/src/gallery/BeachOverview.png" alt=""></a>
                    </div>
                    <div class="item-info">
                        <h3>Diani Beach</h3>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-lg-6 col-md-8 grid-item project residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/lib/src/gallery/LargeElephants.png" class="image" title="Ole Pejeta Conservancy"><img src="~/lib/src/gallery/LargeElephants.png" alt=""></a>
                    </div>
                    <div class="item-info">
                        <h3>
                            Ole Pejeta Conservancy
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-lg-6 col-md-12 grid-item project residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/lib/src/gallery/BeautifulZebras.png" class="image" title="Tsavo Zebras"><img src="~/lib/src/gallery/BeautifulZebras.png" alt=""></a>
                    </div>
                    <div class="item-info">
                        <h3>
                            Tsavo National Park
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-one" class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-one__left">
                    <div class="about-one__img-box">
                        <div class="about-one__img">
                            <img src="~/lib/src/gallery/Lakeside-1.png" alt="" class="img-fluid">
                        </div>
                        <div class="about-one__call">
                            <div class="about-one__call-icon">
                                <span class="icon-phone et-icon-color"></span>
                            </div>
                            <div class="about-one__call-number">
                                <p>Book Tour Now</p>
                                <h4>
                                    <a href="tel:+254 (724) 822 582">+254 (724) 822 582</a>
                                </h4>
                            </div>
                        </div>
                        <div class="about-one__discount">
                            <h2>30%</h2>
                            <h3>Discount</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title-about text-left">
                        <span class="section-title__tagline">Get to know us</span>
                        <h2 class="section-title__title">Plan Your Trip with Gypsey</h2>
                    </div>
                    <p class="about-one__right-text">
                        There are many variations of passages of available but the majority have suffered alteration in some form,
                        by injected hum randomised words which don't look even slightly.
                    </p>
                    <ul class="list-unstyled about-one__points">
                        <li>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="text">
                                <p>Invest in your simply neighborhood</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="text">
                                <p>Support people in free text extreme need</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="text">
                                <p>Largest global industrial business community</p>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="about-one__btn thm-btn">
                        Book with us now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="popular-tours" class="popular-tours">
    <div class="popular-tours__container">
        <div class="section-title-tours text-center">
            <span class="section-title__tagline">Featured Tours</span>
            <h2 class="section-title__title">Most Popular Tours</h2>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="owl-two owl-carousel">
                    @foreach (var tours in Model.PopularTours)
                    {
                        <div class="card br-10 mx-2 my-5 card-width">
                            <div class="popular-tours__img">
                                <img src="@tours.ImageUrl" class="card-img-top" alt="@tours.ImageAlt" loading="lazy" />
                                <div class="popular-tours__icon"><i class="fa fa-heart"></i></div>
                            </div>

                            <div class="card-body">
                                <div class="popular-tours__content">
                                    <div class="popular-tours__stars">
                                        <i class="fa fa-star"></i> @tours.Rating Superb
                                    </div><h3 class="popular-tours__title">
                                        <a href="/tour-details">@tours.TourName</a>
                                    </h3><p class="popular-tours__rate">
                                        <span>@tours.CostPerPerson</span> / Per Person
                                    </p>
                                    <ul class="popular-tours__meta list-unstyled">
                                        <li><a href="/tour-details">@tours.TripDays Days</a></li>
                                        <li><a href="/tour-details">@tours.TravelDate.ToString("MMM")</a></li>
                                        <li>
                                            <a href="/tour-details">@tours.Destination</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-6" class="position-relative" style="min-height:100vh;">
</section>
<section id="section-7" class="position-relative" style="min-height:100vh;">
</section>
<section id="section-8" class="position-relative" style="min-height:100vh;">
</section>
<section id="section-9" class="position-relative" style="min-height:100vh;">
</section>
<section id="section-10" class="position-relative" style="min-height:100vh;">
</section>


@section Scripts{
    <script src="~/node_modules/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper-landing", {
            spaceBetween: 1200,
            effect: "fade",
            loop: true,
            navigation: {
                nextEl: ".slider-button-next",
                prevEl: ".slider-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

    <script src="~/js/wow.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.stellar.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.magnific-popup.js"></script>
    <script src="~/node_modules/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="~/js/interface.js"></script>
    <script src="~/js/owl-carousel-project.js"></script>
}
